.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-wrapper{
  margin: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav, .header-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.header-menu {
  margin-left: 10px;
}

.header-menu a:hover {
  color: var(--cor-1);
  transition: .3s;
}